# 1Ô∏è‚É£ Load Dataset & Basic Data Exploration
## üîπ Load the dataset

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("adult_with_headers (1).csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## üîπ Dataset shape

In [4]:
df.shape

(32561, 15)

## üîπ Data types & missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

## üîπ Summary statistics

In [7]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

# 2Ô∏è‚É£ Handling Missing Values
## üîπ Replace "?" with NaN

In [8]:
df.replace("?", np.nan, inplace=True)

In [9]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

## üîπ Handle missing values 

Categorical ‚Üí Mode

Numerical ‚Üí Median

In [11]:
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].median())

In [12]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

# 3Ô∏è‚É£ Scaling Techniques
## üîπ Separate numerical & categorical columns

In [13]:
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
cat_cols = df.select_dtypes(include=["object"]).columns

num_cols, cat_cols

(Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
        'hours_per_week'],
       dtype='object'),
 Index(['workclass', 'education', 'marital_status', 'occupation',
        'relationship', 'race', 'sex', 'native_country', 'income'],
       dtype='object'))

## üîπ Standard Scaling

In [14]:
from sklearn.preprocessing import StandardScaler

scaler_standard = StandardScaler()
df_standard_scaled = df.copy()
df_standard_scaled[num_cols] = scaler_standard.fit_transform(df[num_cols])

## üîπ Min-Max Scaling

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler_minmax = MinMaxScaler()
df_minmax_scaled = df.copy()
df_minmax_scaled[num_cols] = scaler_minmax.fit_transform(df[num_cols])

# 4Ô∏è‚É£ Encoding Techniques
## üîπ Identify categorical columns with <5 categories

In [16]:
low_cardinality = [col for col in cat_cols if df[col].nunique() < 5]
high_cardinality = [col for col in cat_cols if df[col].nunique() >= 5]

low_cardinality, high_cardinality

(['sex', 'income'],
 ['workclass',
  'education',
  'marital_status',
  'occupation',
  'relationship',
  'race',
  'native_country'])

## üîπ One-Hot Encoding (Low Cardinality)

In [17]:
df_encoded = pd.get_dummies(df, columns=low_cardinality, drop_first=True)

## üîπ Label Encoding (High Cardinality)

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in high_cardinality:
    df_encoded[col] = le.fit_transform(df_encoded[col])

# 5Ô∏è‚É£ Feature Engineering
## üîπ Feature 1: Age Group

In [19]:
df_encoded["age_group"] = pd.cut(
    df_encoded["age"],
    bins=[0,25,45,65,100],
    labels=["Young","Adult","Senior","Old"]
)

df_encoded["age_group"] = LabelEncoder().fit_transform(df_encoded["age_group"])

## üîπ Feature 2: Capital Gain Flag

In [21]:
df_encoded.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'sex_ Male',
       'income_ >50K', 'age_group'],
      dtype='object')

In [22]:
df_encoded["capital_gain_flag"] = (df_encoded["capital_gain"] > 0).astype(int)

In [23]:
cap_col = [col for col in df_encoded.columns if "capital" in col.lower() and "gain" in col.lower()][0]

df_encoded["capital_gain_flag"] = (df_encoded[cap_col] > 0).astype(int)

# 6Ô∏è‚É£ Feature Transformation (Log Transformation)
## üîπ Check skewness

In [25]:
df_encoded["capital_gain"].skew()

np.float64(11.953847687699799)

## üîπ Apply log transformation

In [26]:
df_encoded["capital_gain_log"] = np.log1p(df_encoded["capital_gain"])

# 7Ô∏è‚É£ Final Dataset Check